<form nz-form [formGroup]="uploadForm" (ngSubmit)="submitForm(uploadForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="title" placeholder="title of the audio book" />
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your title!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Reader</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
      <input nz-input formControlName="reader" placeholder="reader" />
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your reader!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Image</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please upload your image!">
      <input nz-input type="file" formControlName="image" (ngModelChange)="imageFileChange($event)" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Audio</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please upload your audio!">
      <input nz-input type="file" formControlName="audio" (ngModelChange)="audioFileChange($event)" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!uploadForm.valid">Submit</button>
      <button nz-button (click)="resetForm($event)">Reset</button>
    </nz-form-control>
  </nz-form-item>
</form>